html { height: 100%; }
body { height: 100%; color: #FFFFFF; padding: 0; }
a { text-decoration: none;  cursor: pointer; }
a:hover  { text-decoration:  none; cursor: pointer; }
ul, li{ margin: 0; padding: 0; }

.post:first-child {
    border-top: 1px solid #FFFFFF;
}
.form { position: relative; }
.form:after { content: "fdsfdsa"; font-size: 0; height: 0; display: block; clear: both;  }
.btn { float: right;}
.flask-pagedown { padding: 5px 0; }
textarea.flask-pagedown-input {
    resize: none;
    height: 400px;
    color: #FFFFFF;
    background: rgba(255, 255, 255, .2);
}
.textarea-input {
    display: none !important;
}
.navbar.navbar-inverse {
    background: #48525e;
}
.profile-thumbnail {
    position: absolute;
    width: 40px;
    height: 40px
}
.profile-thumb {
    position: absolute;
    width:160px;
    height:160px;
}
.profile-follower{
    width:40px;
    height: 40px
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
div.post-tabs {
    margin-top: 16px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
div.post-footer {
    text-align: right;
}
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #FFFFFF;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #FFFFFF;
}
ul.comments li.comment:hover {}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
    border-radius: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-body h1 {
    font-size: 140%;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}

.index-title {
    color: #FFFFFF;
}
.nav-tabs {
    border: none !important;
    margin: 0px 0 20px;
    color: #FFFFFF;
}
.nav-tabs li a{
    transition: all .3s ease-in-out;
}
.page-header { border-bottom: none; }
::selection { background: none; }