{% extends "reuse/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "reuse/_macros.html" as macros %}


{% block title %}Blog{% endblock %}

<!-- 主体内容-->
{% block page_content %}
<h1 class = "index-title">
    欢迎来到本博客,
    {% if current_user.is_authenticated %}
    {{current_user.username}}
    {% else %}
    游客
    {% endif %}
</h1>


<!--the template of articles-->
<div>
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    {{wtf.quick_form(form)}}
    {% endif %}
</div>
<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">所有文章</a></li>
        {% if current_user.is_authenticated %}
        <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">关注者文章</a></li>
        {% endif %}
    </ul>
    {% include 'reuse/_posts.html' %}
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}


<script>

function handleInput (event) {
    var classname = "textarea-input";
    var text = event.target.value;
    if (text && text.length) {
         document.querySelector("#flask-pagedown-body-preview").classList.remove(classname);
    } else {
        document.querySelector("#flask-pagedown-body-preview").classList.add(classname);
    }
}
    window.addEventListener('load', function () {
        if (!document.querySelector("#flask-pagedown-body")) return;
        document.querySelector("#flask-pagedown-body-preview").classList.add("textarea-input");
        document.querySelector("#flask-pagedown-body").addEventListener('input', handleInput);

    });
</script>

{% endblock %}







