{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}Blog{% endblock %}

<!-- 主体内容-->
{% block page_content %}
<div class="page-header">
    <h1>
        Welcome to the Blog,
        {% if current_user.is_authenticated %}
        {{current_user.username}}
        {% else %}
        stranger
        {% endif %}
    </h1>
</div>


<!--the template of articles-->
<div>
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    {{wtf.quick_form(form)}}
    {% endif %}
</div>
{% include '_posts.html' %}

{% endblock %}



